<mat-progress-bar
*ngIf = "!dataLoaded"
[mode]="'indeterminate'">
</mat-progress-bar>


<div *ngIf="dataLoaded" class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Ethnicity</th>
        <th scope="col">State</th>
        <th scope="col">Recent Travel</th>
        <th scope="col">Quarantined Place</th>
        <th scope="col">Days Quarantined</th>
        <th scope="col">Hospital Visited</th>
        <th scope="col">Infection Reported</th>
        <th scope="col">Weak Immune</th>
        <th scope="col">Recent Contacts</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="dataLoaded">
      <tr *ngFor="let item of listOfPatients">
        <th scope="row">{{ item.name }}</th>
        <td>{{ item.gender }}</td>
        <td>{{ item.ethnicity }}</td>
        <td>{{ item.state }}</td>

        <td>{{ item.hasRecentlyTraveled }}</td>
        <td>{{ item.quarantinedPlaceName }}</td>
        <td>{{ item.numDaysQuarantined }}</td>
        <td>{{ item.nameOfHospitalVisited }}</td>
        <td>{{ item.dateInfectionReported }}</td>
        <td>{{ item.isImmuneCompromised }}</td>
        <td>{{ item.listOfRecentContacts }}</td>
        <div>
          <button routerLink = "/updatePage" (click) = "editPatient(item._id)" type="button" id="item._id" class="btn btn-link">Edit</button>
          <button (click) = "deletePatient(item._id)" type="button" id="item._id" class="btn btn-link">Delete</button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
