.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://images.unsplash.com/photo-1527613426441-4da17471b66d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.font-weight-light {
  color: aliceblue;
}
.lead {
  color: rgb(255, 0, 0);
}
